@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap");
* {
  box-sizing: border-box;
  font-weight: 300;
  padding: 0;
  margin: 0;
}

// Основные цвета
$main-color: #5433ff;
$light-color: #b6fbff;
$color: #1F2029;
$nav-color: #1F2029;

// Текст
$title-color: #efefef;
$dark-color: #111111;
$text-color: #999999;

// Панель прокрутки
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: $main-color;
}

@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin boxHover {
  background-color: #ffffff15;
  animation-duration: .5s;
  border-radius: 4px;
  color: $main-color;
}
@mixin bg {
  background: url("images/bg.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}
@mixin gradient {
  background: linear-gradient(to right, #5433ff, #20bdff, #a5fecb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@mixin button {
  background: linear-gradient(250deg, #5433ff, #20bdff, #a5fecb);
  border: solid 2px white;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
  color: white;
  font-weight: 400;
  transition: all 150ms ease-in-out;
  &:hover {
    background: linear-gradient(to right, #5433ff, #20bdff, #a5fecb);
    border-color: $nav-color;
    color: $nav-color;
  }
}
@mixin parallax {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

html, body {
  font-family: "Inter", sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
  user-select: none;
  overflow-x: hidden;
  color: white;
  height: 100%;
  width: 100%;
  @include center;
}
h3 {
  @include gradient;
  font-weight: 400;
  font-size: 1.5rem;
  margin: 1rem 0 !important;
}
.wrapper {
  max-width: 1920px;
  &, &__content {
    height: 100%;
    width: 100%;
  }
  &__content {
    margin-top: 4rem;
  }
}

// Навигация
.nav {
  justify-content: space-between;
  background-color: $nav-color;
  position: absolute;
  display: flex;
  height: 4rem;
  width: 100%;
  z-index: 1;
  &__content {
    display: flex;
    align-items: center;
    z-index: 1;
    &:first-child {
      margin: 0 2.5rem;
    }
    &:nth-child(3) {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50px !important;
      font-size: 1.5rem;
      margin: .4rem;
      height: 50px;
      width: 50px;
      &:hover {
        @include boxHover;
      }
    }
    ul {
      display: flex;
      a {
        &, li {
          @include center;
          font-size: 1.05rem;
          height: 4rem;
          width: 8rem;
        }
        &:hover {
          @include boxHover;
        }
      }
    }
  }
  &__navigation {
    @include center;
    position: absolute;
    width: 100%;
  }
  &__icon {
    margin: .5rem;
    &, img {
      height: 3rem;
    }
  }
  &__name {
    font-size: 1.25rem;
    font-weight: 600;
  }
}

// Главный блок
.container {
  @include center;
  @include bg;
  flex-direction: column;
  padding-bottom: 4rem;
  //text-shadow: 4px 2px 7px grey;
  text-shadow: 
		-0   -1px 0   $nav-color,
		 0   -1px 0   $nav-color,
		-0    1px 0   $nav-color,
		 0    1px 0   $nav-color,
		-1px -0   0   $nav-color,
		 1px -0   0   $nav-color,
		-1px  0   0   $nav-color,
		 1px  0   0   $nav-color,
		-1px -1px 0   $nav-color,
		 1px -1px 0   $nav-color,
		-1px  1px 0   $nav-color,
		 1px  1px 0   $nav-color,
		-1px -1px 0   $nav-color,
		 1px -1px 0   $nav-color,
		-1px  1px 0   $nav-color,
		 1px  1px 0   $nav-color;
  &__item {
    display: flex;
    width: 100%;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $color;
  }
  // Кнопка
  &__btn {
    font-size: 1.1rem;
    min-width: 300px;
    margin: 1rem;
    button {
      @include button;
      min-width: 300px;
      padding: 1rem;
    }
  }
  // Текст
  h1 {
    font-weight: 400;
    font-size: 2.5rem;
    margin: 1rem 0;
    color: white;
  }
  h2 {
    font-size: 1.5rem;
    font-weight: 350;
    margin: .5rem 1rem;
    color: white;
  }
}
.main {
  color: black;
  &__content {
    @include center;
    flex-direction: column;
  }
  &__container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 1rem 0;
    // Первый блок
    &:first-child {
      .main__section {
        flex-direction: column;
        p {
          font-size: 1.3rem;
          font-weight: 400;
        }
        // Изображение
        img {
          width: 75%;
        }
      }
    }
    // Второй блок
    &:nth-child(2) {
      justify-content: center;
      align-items: center;
      padding: 0 1.5rem;
      .main__section {
        display: flex;
        flex-direction: column;
        width: calc(45% - 2rem);
        margin: 0 1rem;
        // Изображение
        img {
          width: 75%;
        }
        // Текст к изображению
        p {
          font-weight: 400;
          font-size: 1.4rem;
        }
        // Текст под текстом
        span {
          color: $text-color;
          font-size: 1.2rem;
          font-weight: 400;
          margin: 2rem 0;
          line-height: 1.75;
        }
      }
    }
    // Третий блок - Преимущества
    &:nth-child(4) {
      .main__section {
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: calc(25% - 2rem);
        // Иконка
        img {
          width: 5rem;
          margin: 1rem 0;
        }
        p {
          font-weight: 400;
          font-size: 1.2rem;
          margin: 0 0 1rem;
        }
        span {
          color: $text-color;
          font-size: .95rem;
        }
      }
    }
  }
  &__section {
    display: flex;
    width: calc(50% - 2rem);
    margin: 0 1rem;
  }
}
.line {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.parallax {
  background: url("images/bg2.jpg");
  @include parallax;
}
.parallax2 {
  background: url("images/bg3.jpg");
  @include parallax;
}
.lvl {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 1rem 0;
  &__content {
    max-width: 1200px;
    width: 100%;
  }
  &__section {
    p {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      color: black;
      font-size: 1.1rem;
      margin: .5rem 0;
    }
    &:first-child {
      span {
        @include center;
        background-color: $nav-color;
        border-radius: 50px;
        height: 50px;
        width: 50px;
        margin: 0 1rem;
        color: white;
      }
    }
    &:nth-child(2) {
      p {
        margin: auto 1.5rem;
      }
    }
    div {
      display: flex;
      align-items: baseline;
    }
  }
  &__items {
    flex-wrap: wrap;
    align-items: center !important;
    p {
      width: 10%;
    }
  }
  &__lang {
    align-items: center !important;
    flex-wrap: wrap;
    width: 22.5%;
    img {
      border: solid 1px #5433ff;
      border-radius: 50px;
      object-fit: contain;
      padding: 0 .75rem;
      margin: 1rem;
      height: 6rem;
      width: 6rem;
    }
    p {
      font-size: 1.2rem;
      width: auto;
    }
  }
  &__line {
    font-size: 1.5rem;
    margin: 0 1rem;
    color: #5433ff;
  } 
  &__text {
    font-size: 1.1rem;
    color: #5433ff;
  }
}
