@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: #111;
}
::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 25px;
}

@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin boxHover {
  background-color: #ffffff15;
  border-radius: 4px;
}

@mixin bg {
  background: url("images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

@mixin button {
  background-color: white;
  border-radius: 4px;
  outline: none;
  border: none;
}

html, body {
  font-family: "Roboto", sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
  user-select: none;
  overflow-x: hidden;
  color: white;
  height: 100%;
  width: 100%;
  @include center;
}
.wrapper {
  height: 100%;
  width: 100%;
  max-width: 1920px;
}
.nav {
  position: absolute;
  display: flex;
  height: 4rem;
  width: 100%;
  &__content {
    display: flex;
    align-items: center;
    margin: 0 1rem;
    ul {
      display: flex;
      a {
        &, li {
          @include center;
          font-size: 1.05rem;
          height: 4rem;
          width: 8rem;
        }
        &:hover {
          @include boxHover;
        }
      }
    }
  }
  &__icon {
    margin: .5rem;
    &, img {
      height: 3rem;
    }
  }
  &__name {
    font-size: 1.25rem;
    font-weight: 600;
  }
}
.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  @include bg;
  &__item {
    display: flex;
    width: 100%;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__btn {
    button {
      @include button;
    }
  }
  &__copyright {
    position: absolute;
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: flex-end;
    bottom: 0;
  }
  &__icons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    user-select: none;
    margin: 1rem 0;
    a {
      div {
        border-radius: 100px;
        background-color: white;
        width: 5rem;
        height: 5rem;
        margin: .5rem;
        img {
          width: 5rem;
          height: 5rem;
          border-radius: 100px;
          padding: .5rem;
        }
        &:hover {
          transform: scale(1.1);
          transition: 1s;
        }
      }
    }
  }
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 1.5rem;
    font-weight: normal;
    margin: 0 1rem;
  }
}