@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap");
* {
  box-sizing: border-box;
  font-weight: 300;
  padding: 0;
  margin: 0;
}

$main-color: #5dfec0;

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: #5dfec0;
}

@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin boxHover {
  background-color: #ffffff15;
  animation-duration: .5s;
  border-radius: 4px;
  color: $main-color;
}

@mixin bg {
  background: url("images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

@mixin button {
  background-color: #00000050;
  border-radius: 10px;
  outline: none;
  border: none;
  color: white;
}

html, body {
  font-family: "Inter", sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
  user-select: none;
  overflow-x: hidden;
  color: white;
  height: 100%;
  width: 100%;
  @include center;
}
.wrapper {
  height: 100%;
  width: 100%;
  max-width: 1920px;
}
.nav {
  position: absolute;
  display: flex;
  height: 4rem;
  width: 100%;
  &__content {
    display: flex;
    align-items: center;
    &:first-child {
      margin: 0 2.5rem;
    }
    ul {
      display: flex;
      a {
        &, li {
          @include center;
          font-size: 1.05rem;
          height: 4rem;
          width: 8rem;
        }
        &:hover {
          @include boxHover;
        }
      }
    }
  }
  &__navigation {
    @include center;
    position: absolute;
    width: 100%;
  }
  &__icon {
    margin: .5rem;
    &, img {
      height: 3rem;
    }
  }
  &__name {
    font-size: 1.25rem;
    font-weight: 600;
  }
}
.container {
  @include center;
  @include bg;
  flex-direction: column;
  &__item {
    display: flex;
    width: 100%;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__btn {
    font-size: 1.1rem;
    min-width: 300px;
    margin: 1rem;
    button {
      @include button;
      min-width: 300px;
      padding: 1rem;
    }
  }
  h1 {
    font-size: 2.5rem;
    margin: 1rem 0;
  }
  h2 {
    font-size: 1.5rem;
    font-weight: 350;
    margin: .5rem 1rem;
  }
}