@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap");
* {
  box-sizing: border-box;
  font-weight: 300;
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #5433ff;
}

html, body {
  font-family: "Inter", sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
  user-select: none;
  overflow-x: hidden;
  color: white;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  max-width: 1920px;
}
.wrapper, .wrapper__content {
  height: 100%;
  width: 100%;
}
.wrapper__content {
  margin-top: 4rem;
}

.nav {
  justify-content: space-between;
  background-color: #1F2029;
  position: absolute;
  display: flex;
  height: 4rem;
  width: 100%;
  z-index: 1;
}
.nav__content {
  display: flex;
  align-items: center;
  z-index: 1;
}
.nav__content:first-child {
  margin: 0 2.5rem;
}
.nav__content:nth-child(3) {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px !important;
  font-size: 1.5rem;
  margin: 0.4rem;
  height: 50px;
  width: 50px;
}
.nav__content:nth-child(3):hover {
  background-color: rgba(255, 255, 255, 0.0823529412);
  animation-duration: 0.5s;
  border-radius: 4px;
  color: #5433ff;
}
.nav__content ul {
  display: flex;
}
.nav__content ul a, .nav__content ul a li {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.05rem;
  height: 4rem;
  width: 8rem;
}
.nav__content ul a:hover {
  background-color: rgba(255, 255, 255, 0.0823529412);
  animation-duration: 0.5s;
  border-radius: 4px;
  color: #5433ff;
}
.nav__navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
}
.nav__icon {
  margin: 0.5rem;
}
.nav__icon, .nav__icon img {
  height: 3rem;
}
.nav__name {
  font-size: 1.25rem;
  font-weight: 600;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("images/bg.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  flex-direction: column;
  padding-bottom: 4rem;
  text-shadow: 1px 0.5px 2px grey;
}
.container__item {
  display: flex;
  width: 100%;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #1F2029;
}
.container__btn {
  font-size: 1.1rem;
  min-width: 300px;
  margin: 1rem;
}
.container__btn button {
  background: linear-gradient(250deg, #5433ff, #20bdff, #a5fecb);
  border: solid 2px white;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
  color: white;
  font-weight: 400;
  transition: all 150ms ease-in-out;
  min-width: 300px;
  padding: 1rem;
}
.container__btn button:hover {
  background: linear-gradient(to right, #5433ff, #20bdff, #a5fecb);
  border-color: #1F2029;
  color: #1F2029;
}
.container h1 {
  font-weight: 400;
  font-size: 2.5rem;
  margin: 1rem 0;
  color: white;
}
.container h2 {
  font-size: 1.5rem;
  font-weight: 350;
  margin: 0.5rem 1rem;
  color: white;
}

.main {
  color: black;
}
.main__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.main__container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 1rem 0;
}
.main__container:first-child .main__section {
  flex-direction: column;
}
.main__container:first-child .main__section h3 {
  background: linear-gradient(to right, #5433ff, #20bdff, #a5fecb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 400;
  font-size: 1.5rem;
  margin: 1rem 0;
}
.main__container:first-child .main__section p {
  font-size: 1.3rem;
  font-weight: 400;
}
.main__container:first-child .main__section img {
  width: 75%;
}
.main__container:nth-child(2) {
  justify-content: center;
  align-items: center;
  padding: 0 1.5rem;
}
.main__container:nth-child(2) .main__section {
  display: flex;
  flex-direction: column;
  width: calc(45% - 2rem);
  margin: 0 1rem;
}
.main__container:nth-child(2) .main__section img {
  width: 75%;
}
.main__container:nth-child(2) .main__section p {
  font-weight: 400;
  font-size: 1.4rem;
}
.main__container:nth-child(2) .main__section span {
  color: #999999;
  font-size: 1.2rem;
  font-weight: 400;
  margin: 2rem 0;
  line-height: 1.75;
}
.main__container:nth-child(3) .main__section {
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: calc(25% - 2rem);
}
.main__container:nth-child(3) .main__section img {
  width: 5rem;
  margin: 1rem 0;
}
.main__container:nth-child(3) .main__section p {
  font-weight: 400;
  font-size: 1.2rem;
  margin: 0 0 1rem;
}
.main__container:nth-child(3) .main__section span {
  color: #999999;
  font-size: 0.95rem;
}
.main__section {
  display: flex;
  width: calc(50% - 2rem);
  margin: 0 1rem;
}

.lvl {
  background: url("images/bg2.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
}

/*# sourceMappingURL=style.css.map */
