@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap");
* {
  box-sizing: border-box;
  font-weight: 300;
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #5433ff;
}

html, body {
  font-family: "Inter", sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
  user-select: none;
  overflow-x: hidden;
  color: white;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper, .wrapper__content {
  height: 100%;
  width: 100%;
}
.wrapper__content {
  margin-top: 4rem;
}

button {
  cursor: pointer;
}

h1, h2 {
  color: white;
}

h1 {
  font-weight: 400;
  font-size: 2.5rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: 350;
}

h3 {
  background: linear-gradient(to right, #5433ff, #20bdff, #a5fecb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 400;
  font-size: 1.5rem;
  margin: 1rem 0 !important;
}

.parallax {
  background: url("images/backgrounds/bg2.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.parallax2 {
  background: url("images/backgrounds/bg3.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.parallax3 {
  background: url("images/backgrounds/bg4.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.line {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.nav {
  justify-content: space-between;
  background-color: #1F2029;
  position: absolute;
  display: flex;
  height: 4rem;
  width: 100%;
  z-index: 1;
}
.nav__content {
  display: flex;
  align-items: center;
  z-index: 1;
}
.nav__content:first-child {
  margin: 0 2.5rem;
}
@media screen and (max-width: 920px) {
  .nav__content:first-child {
    margin: 0 1rem;
  }
}
.nav__content:nth-child(3) {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px !important;
  font-size: 1.5rem;
  margin: 0.4rem;
  height: 50px;
  width: 50px;
}
.nav__content:nth-child(3):hover {
  background-color: rgba(255, 255, 255, 0.0823529412);
  animation-duration: 0.5s;
  border-radius: 4px;
  color: #5433ff;
}
.nav__content ul {
  display: flex;
}
.nav__content ul a, .nav__content ul a li {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.05rem;
  height: 4rem;
  width: 8rem;
}
.nav__content ul a:hover {
  background-color: rgba(255, 255, 255, 0.0823529412);
  animation-duration: 0.5s;
  border-radius: 4px;
  color: #5433ff;
}
@media screen and (max-width: 992px) {
  .nav__content ul {
    display: none;
  }
}
.nav__navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
}
.nav__icon {
  margin: 0.5rem;
}
.nav__icon, .nav__icon img {
  height: 3rem;
}
.nav__name {
  font-size: 1.25rem;
  font-weight: 600;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("images/backgrounds/bg.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  flex-direction: column;
  padding-bottom: 4rem;
}
.container__item {
  display: flex;
  width: 100%;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #1F2029;
}
.container__btn {
  font-size: 1.1rem;
  min-width: 300px;
  margin: 1rem;
}
.container__btn button {
  background: linear-gradient(250deg, #5433ff, #20bdff, #a5fecb);
  border: solid 2px white;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
  color: white;
  font-weight: 400;
  transition: all 150ms ease-in-out;
  min-width: 300px;
  padding: 1rem;
}
.container__btn button:hover {
  background: linear-gradient(to right, #5433ff, #20bdff, #a5fecb);
  border-color: #1F2029;
  color: #1F2029;
}
.container h1 {
  margin: 1rem 0;
}
.container h2 {
  margin: 0.5rem 1rem;
}

.main {
  background: white;
  border-radius: 100%/75px;
  margin-top: -3rem;
  color: black;
}
.main__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media screen and (max-width: 875px) {
  .main__items {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.main__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  margin: 4rem 0;
}
@media screen and (max-width: 1216px) {
  .main__container {
    margin: 4rem 1rem 2rem;
  }
}
@media screen and (max-width: 875px) {
  .main__container:first-child, .main__container:nth-child(2) {
    flex-direction: column;
    width: 100% !important;
  }
}
@media screen and (max-width: 875px) {
  .main__container:first-child .main__section, .main__container:nth-child(2) .main__section {
    width: 100%;
    margin: 1rem 0;
  }
  .main__container:first-child .main__section img, .main__container:nth-child(2) .main__section img {
    align-self: center;
  }
}
.main__container:first-child p {
  font-size: 1.3rem;
  font-weight: 400;
}
.main__container:first-child img {
  width: 75%;
}
.main__container:nth-child(2) {
  justify-content: center;
  align-items: center;
  padding: 0 1.5rem;
}
.main__container:nth-child(2) .main__section {
  display: flex;
  flex-direction: column;
  width: calc(45% - 2rem);
  margin: 0 1rem;
}
.main__container:nth-child(2) .main__section img {
  width: 75%;
}
@media screen and (max-width: 875px) {
  .main__container:nth-child(2) .main__section img {
    width: 60%;
  }
}
.main__container:nth-child(2) .main__section p {
  font-weight: 400;
  font-size: 1.4rem;
}
.main__container:nth-child(2) .main__section span {
  color: #999999;
  font-size: 1.2rem;
  font-weight: 400;
  margin: 2rem 0;
  line-height: 1.75;
}
@media screen and (max-width: 920px) {
  .main__container:nth-child(2) .main__section span {
    margin: 1rem 0;
    line-height: 1.5;
  }
}
@media screen and (max-width: 875px) {
  .main__container:nth-child(2) .main__section {
    width: 100%;
  }
}
@media screen and (max-width: 920px) {
  .main__container p {
    font-weight: 300 !important;
    font-size: 1.2rem !important;
  }
}
.main__section {
  display: flex;
  flex-direction: column;
}

.advantages {
  display: flex;
  flex-direction: row !important;
  justify-content: space-around;
  margin-top: 0;
}
.advantages .main__section {
  flex-direction: column !important;
  align-items: center;
  text-align: center;
  width: calc(25% - 2rem) !important;
}
.advantages .main__section img {
  width: 5rem !important;
  margin: 1rem 0;
  filter: brightness(1.1);
}
.advantages .main__section p {
  font-weight: 400;
  font-size: 1.2rem;
  margin: 0 0 1rem;
}
.advantages .main__section span {
  color: #999999;
  font-size: 0.95rem;
}

.lvl {
  display: flex;
  justify-content: center;
  width: 100%;
}
.lvl__content {
  max-width: 1200px;
  width: 100%;
}
@media screen and (max-width: 1200px) {
  .lvl__content {
    margin: auto 1rem;
  }
}
.lvl__items {
  flex-wrap: wrap;
  align-items: center !important;
}
.lvl__items p {
  width: 10%;
}
@media screen and (max-width: 875px) {
  .lvl__items p {
    width: 100%;
  }
}
@media screen and (max-width: 875px) {
  .lvl__items {
    flex-direction: column;
  }
}
@media screen and (max-width: 875px) {
  .lvl__items p:first-child {
    align-self: flex-start;
  }
}
.lvl__langs {
  width: 90%;
}
.lvl__langs div {
  width: 25%;
}
@media screen and (max-width: 875px) {
  .lvl__langs div {
    width: 20%;
  }
}
@media screen and (max-width: 875px) {
  .lvl__langs {
    width: 100%;
  }
}
.lvl__lang {
  align-items: center !important;
  flex-wrap: wrap;
  width: 22.5%;
}
.lvl__lang img {
  border: solid 1px #5433ff;
  border-radius: 50px !important;
  object-fit: contain;
  padding: 0 0.75rem;
  margin: 1rem;
  height: 6rem;
  width: 6rem;
}
.lvl__lang p {
  font-size: 1.2rem;
  width: auto;
}
@media screen and (max-width: 1216px) {
  .lvl__lang {
    flex-direction: column;
  }
}
.lvl__section {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}
.lvl__section p {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: black;
  font-size: 1.1rem;
  margin: 0.5rem 0;
}
.lvl__section p a {
  color: #20bdff !important;
}
.lvl__section p a:hover {
  text-decoration: underline;
}
.lvl__section img {
  border-radius: 4px;
  margin-top: 1rem;
}
.lvl__section .linkbutton {
  display: flex;
  justify-content: center;
}
.lvl__section .linkbutton button {
  background: transparent;
  border: solid 2px #1F2029;
  border-radius: 15px;
  padding: 1rem 5rem;
  font-size: 1.1rem;
  outline: none;
  width: 20rem;
  margin: 1rem;
  cursor: pointer;
}
.lvl__section .linkbutton button:hover {
  background-color: #1F2029;
  animation-duration: 0.5s;
  color: white;
}
.lvl__section table {
  border-spacing: 0;
  color: black;
}
.lvl__section table caption .caption {
  display: flex;
  align-items: center;
  margin: 1rem 0;
  font-size: 1.2rem;
  font-weight: 600;
  text-align: left;
}
.lvl__section table caption .caption:hover {
  transition: all 150ms ease-in-out;
}
.lvl__section table caption .caption:hover img {
  display: block;
}
.lvl__section table caption .caption img {
  filter: invert(1);
  margin: 0 0.35rem;
  display: none;
}
.lvl__section table, .lvl__section table th, .lvl__section table td {
  border: solid 1px #1F2029;
}
.lvl__section table th, .lvl__section table td {
  padding: 0 0.75rem;
}
.lvl__section table th {
  font-weight: 400;
  padding: 0.75rem 0;
}
.lvl__section table td:nth-child(2) {
  font-style: italic;
}
.lvl__section table .td td {
  padding: 0.75rem;
}
.lvl__section .details summary {
  display: flex;
}
.lvl__section .details p:nth-child(2) {
  margin: 0 0 0 5.125rem;
}
.lvl__section:first-child span {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1F2029;
  border-radius: 50px;
  height: 50px;
  width: 50px;
  margin: 0 1rem;
  color: white;
}
.lvl__section:nth-child(2) p {
  margin: auto 1.5rem;
}
.lvl__section:nth-child(2) span {
  margin-left: 0.25rem;
  color: #5433ff;
}
.lvl__section:nth-child(2) span:last-child {
  margin-right: 0.25rem;
}
.lvl__section div {
  display: flex;
  align-items: baseline;
}
.lvl__row {
  display: flex;
  align-items: baseline;
}
.lvl__row .lvl__section {
  margin: 0 0.5rem;
}
.lvl__row .lvl__section p {
  flex-direction: column;
  flex-wrap: nowrap;
  text-align: center;
  margin: auto;
}
.lvl__line {
  font-size: 1.5rem;
  margin: 0 1rem;
  color: #5433ff;
}
.lvl__text {
  font-size: 1.1rem;
  color: #5433ff;
}

.footer {
  background: url("images/backgrounds/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.footer__content {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}
@media screen and (max-width: 814px) {
  .footer__content {
    flex-direction: column;
  }
}
.footer__logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__logo img {
  width: 128px;
}
@media screen and (max-width: 814px) {
  .footer__logo {
    margin: 1rem;
  }
}
.footer__items, .footer__containers {
  display: flex;
}
@media screen and (max-width: 814px) {
  .footer__items, .footer__containers {
    justify-content: center;
  }
}
.footer__container {
  margin: 0 1rem;
}
.footer__container p {
  font-size: 1.1rem;
  font-weight: 500;
  color: #1F2029;
  line-height: 1.25;
}
.footer__container ul {
  list-style: none;
}
.footer__container ul a:hover {
  text-decoration: underline;
}
.footer__container button {
  border: solid 2px #1F2029;
  background-color: white;
  outline: none;
  margin: 0.5rem;
}
.footer__container button:nth-last-child(2) {
  font-size: 1.2rem;
  border-radius: 50px;
  height: 50px;
  width: 50px;
  align-self: center;
}
.footer__container button:hover {
  background-color: #1F2029;
  color: white;
  /*&::before {
    content: attr(data-title);
    background: #616161;
    border-radius: 2px;
    color: #fff;
    font-size: 12px;
    padding: 6px 8px;
    text-transform: none;
    width: 100%;
  }*/
}
.footer__container .order {
  border-radius: 15px;
  height: 50px;
  width: calc(100% - 50px - 2rem);
  padding: 0 2rem;
}
.footer__contacts {
  display: flex;
}
.footer__contacts button {
  border-radius: 50px;
  height: 50px;
  width: 50px;
  margin: 0.5rem;
}
.footer__contacts button img {
  padding: 0.5rem;
  height: 50px;
  width: 50px;
  filter: invert(1);
}
.footer__contacts button:hover img {
  filter: invert(0);
}

/*# sourceMappingURL=style.css.map */
