.menu {
    background-color: $color-block;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 2;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    user-select: none;
    &__items {
        display: flex;
        width: 100%;
        &:first-child {
            justify-content: end;
        }
        span {
            font-size: 24px;
            font-weight: $font-medium;
            color: white;
            padding: .65rem 1rem;
            cursor: pointer;
        }
        ul {
            list-style: none;
            display: flex;
            flex-direction: column;
            a {
                display: inline-block;
                text-decoration: none;
                color: white;
                font-size: 20px;
                font-weight: $font-regular;
                text-align: center;
                font-size: 20px;
                margin-bottom: 2rem;
                &:last-child {
                    margin: 0;
                }
            }
        }
        button {
            background: $gradient;
            border-radius: 10px;
            color: white;
            font-weight: $font-regular;
            font-size: 20px;
            text-align: center;
            border: 0;
            max-width: 300px;
            width: 100%;
            height: 55px;
            margin: 2rem 1rem 0;
            &:hover {
                outline: solid 2px white;
            }
        }
        &:nth-child(2) {
            flex-direction: column;
            align-items: center;
        }
        &:last-child {
            justify-content: center;
            margin-bottom: 1.5rem;
            a {
                border-radius: 40px;
                margin-right: 1rem;
                &, img {
                    width: 40px;
                    height: 40px;
                }
                &:last-child {
                    margin: 0;
                }
                &:hover {
                    background-color: $color-hover;
                }
            }
        }
    }
}
