.nav {
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  width: 100vw;
  height: 60px;
  color: white;
  z-index: 1;
  user-select: none;
  &__items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 0 1rem;
    img {
      margin-right: 1rem;
      width: 42px;
    }
    p {
      font-size: 20px;
      font-weight: $font-regular;
    }
    ul {
      display: flex;
      list-style: none;
      a {
        color: white;
        margin: 0 13px;
        font-weight: $font-regular;
        &:hover {
          font-weight: 500;
        }
      }
      @media screen and (max-width: 768px) {
        display: none;
      }
    }
    button {
      width: 195px;
      height: 42px;
      background: $gradient;
      border-radius: 10px;
      font-size: 16px;
      font-weight: $font-regular;
      border: none;
      color: white;
      &:hover {
        outline: solid 2px white;
      }
      @media screen and (max-width: 768px) {
        display: none;
      }
    }
    &-container {
      display: flex;
      align-items: center;
      &:last-child {
        display: none;
        @media screen and (max-width: 768px) {
          display: flex;
          cursor: pointer;
        }
      }
    }
  }
}
